fastapi
uvicorn[standard]
numpy==1.26.4
pandas==2.2.0
scipy==1.10.1
scikit-learn
matplotlib
seaborn
statsmodels==0.14.2
lifelines
wordcloud
nltk
mlxtend
networkx
plotly
qrcode
skl2onnx
pingouin
onnx
onnxruntime
cffi==1.16.0
squarify
linearmodels
pydantic
pingouin
mypy-extensions
factor_analyzer
lifelines
python-multipart
firebase-admin
