fastapi
uvicorn
numpy==1.26.4
pandas==2.2.0
scipy==1.10.1
scikit-learn==1.5.0
matplotlib
seaborn
statsmodels==0.14.2
lifelines
wordcloud
nltk
mlxtend
networkx
plotly
qrcode
skl2onnx
pingouin
onnx
onnxruntime
cffi==1.16.0
squarify
linearmodels
pydantic
mypy-extensions
python-multipart
firebase-admin==6.5.0
scikit-optimize
certifi==2024.7.4
google-api-python-client==2.136.0
google-auth==2.30.0
google-cloud-firestore==2.16.0
QuantLib-Python==1.35
