numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
statsmodels==0.14.2
lifelines
wordcloud
nltk
networkx
plotly
scikit-learn-extra
hdbscan
pingouin
qrcode
semopy==0.5.4
factor-analyzer
skl2onnx
onnx
onnxruntime
