
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 33% 95%;
    --foreground: 25 25% 25%;
    --card: 37 40% 99%;
    --card-foreground: 25 25% 25%;
    --popover: 37 40% 99%;
    --popover-foreground: 25 25% 25%;
    --primary: 184 75% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 37 33% 92%;
    --secondary-foreground: 25 25% 25%;
    --muted: 37 33% 92%;
    --muted-foreground: 25 20% 45%;
    --accent: 184 80% 85%;
    --accent-foreground: 25 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 37 33% 88%;
    --input: 37 33% 90%;
    --ring: 184 75% 30%;
    --chart-1: 184 75% 30%;
    --chart-2: 95 15% 55%;
    --chart-3: 37 33% 75%;
    --chart-4: 210 20% 60%;
    --chart-5: 25 50% 50%;
    --radius: 0.5rem;
    --sidebar-background: 37 40% 99%;
    --sidebar-foreground: 25 25% 25%;
    --sidebar-primary: 184 75% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 37 33% 92%;
    --sidebar-accent-foreground: 25 25% 25%;
    --sidebar-border: 37 33% 88%;
    --sidebar-ring: 184 75% 30%;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 37 33% 95%;
    --card: 210 10% 20%;
    --card-foreground: 37 33% 95%;
    --popover: 210 10% 20%;
    --popover-foreground: 37 33% 95%;
    --primary: 184 75% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 37 33% 95%;
    --muted: 210 10% 25%;
    --muted-foreground: 37 33% 70%;
    --accent: 184 80% 85%;
    --accent-foreground: 25 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 184 75% 50%;
    --chart-1: 184 75% 50%;
    --chart-2: 95 25% 65%;
    --chart-3: 37 33% 75%;
    --chart-4: 210 30% 70%;
    --chart-5: 25 50% 60%;
    --sidebar-background: 210 10% 20%;
    --sidebar-foreground: 37 33% 95%;
    --sidebar-primary: 184 75% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 37 33% 95%;
    --sidebar-border: 210 10% 30%;
    --sidebar-ring: 184 75% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .transition-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}
