
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 40% 96%;
    --foreground: 210 40% 9.8%;
    --card: 140 30% 99%;
    --card-foreground: 210 40% 9.8%;
    --popover: 140 30% 99%;
    --popover-foreground: 210 40% 9.8%;
    --primary: 140 50% 50%;
    --primary-foreground: 140 50% 98%;
    --secondary: 140 20% 92%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 140 20% 94%;
    --muted-foreground: 210 10% 45%;
    --accent: 140 60% 80%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 20% 90%;
    --input: 140 20% 92%;
    --ring: 140 50% 50%;
    --chart-1: 140 50% 50%;
    --chart-2: 140 60% 70%;
    --chart-3: 140 40% 60%;
    --chart-4: 140 80% 60%;
    --chart-5: 140 80% 80%;
    --radius: 0.5rem;
    --sidebar-background: 140 30% 98%;
    --sidebar-foreground: 210 40% 9.8%;
    --sidebar-primary: 140 50% 50%;
    --sidebar-primary-foreground: 140 50% 98%;
    --sidebar-accent: 140 20% 92%;
    --sidebar-accent-foreground: 210 40% 9.8%;
    --sidebar-border: 140 20% 90%;
    --sidebar-ring: 140 50% 50%;
  }

  .dark {
    --background: 210 40% 5%;
    --foreground: 180 10% 95%;
    --card: 210 40% 8%;
    --card-foreground: 180 10% 95%;
    --popover: 210 40% 8%;
    --popover-foreground: 180 10% 95%;
    --primary: 140 50% 50%;
    --primary-foreground: 140 50% 9.8%;
    --secondary: 210 40% 15%;
    --secondary-foreground: 180 10% 95%;
    --muted: 210 40% 15%;
    --muted-foreground: 180 10% 60%;
    --accent: 140 60% 80%;
    --accent-foreground: 140 50% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 15%;
    --input: 210 40% 15%;
    --ring: 140 50% 50%;
    --chart-1: 140 50% 50%;
    --chart-2: 140 60% 70%;
    --chart-3: 140 40% 60%;
    --chart-4: 195 80% 60%;
    --chart-5: 182 80% 80%;
    --sidebar-background: 210 40% 8%;
    --sidebar-foreground: 180 10% 95%;
    --sidebar-primary: 140 50% 50%;
    --sidebar-primary-foreground: 140 50% 9.8%;
    --sidebar-accent: 210 40% 15%;
    --sidebar-accent-foreground: 180 10% 95%;
    --sidebar-border: 210 40% 15%;
    --sidebar-ring: 140 50% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .transition-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}
